In [1]:
# Importing the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

Using matplotlib backend: Qt5Agg

In [3]:
# Loading the eda dataset

In [4]:
life_expectancy = pd.read_csv('C:/Users/pc/Documents/DigiCAP/PythonExx/data/LifeExpectancyData.csv')

In [5]:
life_expectancy

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [6]:
# First, we use the shape attribute to check the number of observstions and number of variables in the data

In [7]:
life_expectancy.shape

(2938, 22)

In [8]:
# Using the head function to check the top records

In [9]:
life_expectancy.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [10]:
# Next, we use the info function to check the information about the data and datatypes of each attribute in the data set

In [11]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [12]:
# The describe function shows how data is spread numerically by indicating the mean, minimum values,
# maximum values, standard deviations, the first, second and third quartiles in that data set"

In [13]:
life_expectancy.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [14]:
# checking for any missing values in any of the coulmns life expectancy data

In [15]:
life_expectancy.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [16]:
# Which countries have the higher life expectancy?
# What is the ratio of Adult Mortality to Child mortality?
# Which countries have the least cases of measles?
# Which countries have the least records of child under five deaths?
# Which countries have the highest records of child under five deaths?
# Does a country's GDP correspond with the number of its educated popu

In [17]:
# Remove some columns we may not need from the data so it can improve speed for processing
# Columns to be removed include Alcohol, Hepatitis B, BMI, Total expenditure, HIV/AIDS and Population

In [19]:
expectancies = life_expectancy.drop(['Alcohol','Hepatitis B', 'Total expenditure', 'Population' ], axis=1, inplace=True)

In [20]:
expectancies

In [23]:
life_expectancy.shape

(2938, 18)

In [24]:
print("Number of records (Countries): ", life_expectancy.shape[0])
print("Number of columns (features): ", life_expectancy.shape[1])

Number of records (Countries):  2938
Number of columns (features):  18

In [25]:
expectancies

In [30]:
life_expectancy.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
percentage expenditure             float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [33]:
columns_removed = life_expectancy.drop([ ' BMI ', ' HIV/AIDS' ], axis=1, inplace=True)

In [34]:
life_expectancy.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
percentage expenditure             float64
Measles                              int64
under-five deaths                    int64
Polio                              float64
Diphtheria                         float64
GDP                                float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [35]:
life_expectancy.count()

Country                            2938
Year                               2938
Status                             2938
Life expectancy                    2928
Adult Mortality                    2928
infant deaths                      2938
percentage expenditure             2938
Measles                            2938
under-five deaths                  2938
Polio                              2919
Diphtheria                         2919
GDP                                2490
 thinness  1-19 years              2904
 thinness 5-9 years                2904
Income composition of resources    2771
Schooling                          2775
dtype: int64

In [36]:
# Checking for missing or null values in the Polio coulmn

In [37]:
life_expectancy['Polio'].value_counts(dropna=False)

99.0    376
98.0    255
96.0    207
97.0    205
95.0    180
       ...
48.0      2
39.0      2
17.0      1
23.0      1
33.0      1
Name: Polio, Length: 74, dtype: int64

In [38]:
# Checking for missing or null values in the GDP coulmn

In [39]:
life_expectancy['GDP'].value_counts(dropna=False)

NaN             448
1276.265000       1
3638.959460       1
2158.299000       1
1768.921320       1
               ...
445.188660        1
2843.636350       1
1792.384500       1
14125.961000      1
246.375621        1
Name: GDP, Length: 2491, dtype: int64

In [40]:
# Checking for missing or null values in the Schooling coulmn

In [41]:
life_expectancy['Schooling'].value_counts(dropna=False)

NaN     163
12.9     58
13.3     52
12.5     49
12.8     46
       ...
2.8       1
19.8      1
20.5      1
19.7      1
20.7      1
Name: Schooling, Length: 174, dtype: int64

In [42]:
# Removing columns with nulls

In [43]:
remove_null_columns = life_expectancy.dropna()

In [44]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   percentage expenditure           2938 non-null   float64
 7   Measles                          2938 non-null   int64
 8   under-five deaths                2938 non-null   int64
 9   Polio                            2919 non-null   float64
 10  Diphtheria                       2919 non-null   float64
 11  GDP                              2490 non-null   float64
 12   thinness  1-19 years            2904 non-null   float64
 13   thinness 5-9 years              2904 non-null   float64
 14  Income composition of resources  2771 non-null   float64
 15  Schooling                        2775 non-null   float64
dtypes: float64(10), int64(4), object(2)
memory usage: 367.4+ KB

In [45]:
life_expectancy.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Measles,under-five deaths,Polio,Diphtheria,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2938.000000,2938.000000,2938.000000,2919.000000,2919.000000,2490.000000,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,738.251295,2419.592240,42.035739,82.550188,82.324084,7483.158469,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,1987.914858,11467.272489,160.445548,23.428046,23.716912,14270.169342,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,1.681350,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,4.685343,0.000000,0.000000,78.000000,78.000000,463.935626,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,64.912906,17.000000,4.000000,93.000000,93.000000,1766.947595,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,441.534144,360.250000,28.000000,97.000000,97.000000,5910.806335,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,19479.911610,212183.000000,2500.000000,99.000000,99.000000,119172.741800,27.700000,28.600000,0.948000,20.700000

In [46]:
# Unique values in the various columns

In [47]:
print("Unique Values in 'Schooling'", list(life_expectancy.Schooling.unique()))

Unique Values in 'Schooling' [10.1, 10.0, 9.9, 9.8, 9.5, 9.2, 8.9, 8.7, 8.4, 8.1, 7.9, 6.8, 6.5, 6.2, 5.9, 5.5, 14.2, 13.3, 12.5, 12.2, 12.0, 11.6, 11.4, 10.8, 10.9, 10.7, 10.6, 14.4, 14.0, 13.6, 13.1, 12.6, 12.3, 11.7, 11.5, 11.1, 10.3, 9.4, 9.0, 8.5, 7.7, 7.2, 6.4, 5.1, 4.6, 13.9, 13.8, 14.1, 14.5, 14.7, 0.0, 17.3, 17.2, 17.1, 16.8, 16.5, 16.3, 16.1, 16.4, 15.6, 15.0, 12.7, 11.9, 11.2, 20.4, 20.3, 20.1, 19.8, 19.5, 19.1, 19.0, 20.7, 20.6, 20.5, 15.9, 15.7, 15.4, 15.3, 15.1, 15.2, 14.9, 15.5, 11.8, 11.0, 10.4, 12.4, 12.1, 13.7, 13.5, 13.2, 10.2, 8.6, 8.2, 7.5, 7.3, 15.8, 14.8, 14.6, 16.6, 16.2, 18.8, 18.6, 18.2, 18.0, 12.8, 12.9, 9.3, 9.1, 6.6, 10.5, 9.6, 8.8, 8.0, 7.6, 14.3, 13.4, 6.7, 6.3, 5.4, 4.9, 4.7, 4.3, 3.9, 3.8, 3.6, 3.5, 3.4, 5.6, 5.2, 4.4, 4.5, nan, 11.3, 9.7, 8.3, 7.1, 6.9, 6.0, 5.7, 5.3, 13.0, 17.6, 17.7, 16.0, 19.2, 18.7, 18.4, 16.9, 16.7, 5.0, 4.0, 3.7, 3.3, 2.9, 5.8, 17.0, 18.3, 18.1, 7.8, 7.0, 4.8, 7.4, 17.9, 18.5, 17.5, 6.1, 19.3, 19.7, 18.9, 17.4, 4.2, 3.1, 3.0, 2.8]

In [52]:
print("Unique Values in 'Polio'", list(life_expectancy.Polio.unique()))

Unique Values in 'Polio' [6.0, 58.0, 62.0, 67.0, 68.0, 66.0, 63.0, 64.0, 5.0, 41.0, 36.0, 35.0, 24.0, 99.0, 98.0, 97.0, 95.0, 94.0, 92.0, 88.0, 86.0, 87.0, 89.0, 7.0, 75.0, 73.0, 81.0, 65.0, 39.0, 4.0, 37.0, 3.0, 96.0, 93.0, 91.0, 85.0, 9.0, 83.0, 84.0, 82.0, 71.0, 8.0, 79.0, 78.0, 77.0, 53.0, 74.0, 76.0, 69.0, 45.0, 72.0, 54.0, 59.0, 61.0, 57.0, 47.0, 23.0, 46.0, 44.0, 42.0, 38.0, 52.0, 51.0, 43.0, 32.0, 49.0, 31.0, 26.0, 17.0, 55.0, 48.0, 56.0, nan, 33.0]

In [53]:
# Ploting by Country

In [54]:
labels = life_expectancy['Country'].value_counts().index
values = life_expectancy['Country'].value_counts().values
colors = ['#cc99ee', '#66eb33']

In [59]:
first_chart = {'data' : [{'type' : 'pie', 
'name' : "Life Expectancy Chart: Pie chart",
'labels' : life_expectancy['Schooling'].value_counts().index,
'values' : life_expectancy['Schooling'].value_counts().values,
'direction' : 'clockwise',
'marker' : {'colors' : ['#9cc359', '#e96b5c']}}], 'layout' : {'title' : 'Schooling'}}